/* give your assignment a fun background color */
html {
  background-color: #8B704D;
  font-size: 2vw;
}

header {
  color: #025C68;
  height: 20vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

h1 {
  font-family: 'Monoton', cursive;
  font-size: 3em;
  padding: 1rem;
  text-align: center;
}

h2 {
  font-family: 'Righteous', cursive;
  font-size: 2em;
  margin-top: -2rem;
  padding: 1rem;
  text-shadow: 1px 1px #66293E;
}

main {
  color: #025C68;
  font-family: 'Righteous', cursive;
  font-size: 1em;
  left: 0;
  margin-top: 1rem;
  padding: 1rem;
  position: relative;
  -webkit-text-stroke: 1px #E5CEA1;
  top: 10rem;
}

footer {
  bottom: 0;
  color: #664B52;
  font-family: 'Press Start 2P', cursive;
  font-size: 0.8em;
  position: absolute;
  right: 1rem;
}

.side1 .atari1 {
  background-clip: padding-box;
  background-color: #E5CEA1;
  border-radius: 0 0 30% 0/ 0 0 60% 0;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 46vw;
}

.side1 .atari2 {
  background-clip: padding-box;
  background-color: #8B704D;
  border-radius: 0 0 100% 0/ 0 0 80% 0;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 43vw;
}

.side1 .atari3 {
  background-clip: padding-box;
  background-color: #E5CEA1;
  border-radius: 0 0 100% 0 / 0 0 100% 0;
  height: 80vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 37vw;
}

.side2 .atari1 {
  background-clip: padding-box;
  background-color: #E5CEA1;
  border-radius: 0 0 0 30% / 0 0 0 60%;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  width: 46vw;
}

.side2 .atari2 {
  background-clip: padding-box;
  background-color: #8B704D;
  border-radius: 0 0 0 100% / 0 0 0 80%;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  width: 43vw;
}

.side2 .atari3 {
  background-clip: padding-box;
  background-color: #E5CEA1;
  border-radius: 0 0 0 100% / 0 0 0 100%;
  height: 80vh;
  position: absolute;
  right: 0;
  top: 0;
  width: 37vw;
}
